services:
  load-balancer:
    image: nginx:1.27
    volumes:
      - ./LoadBalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    ports: ["8080:80"]
    depends_on: [ratelimiting-service, redis, etcd, postgres-db]

  ratelimiting-service:
    build:
      context: ./RateLimiting
      dockerfile: RateLimitingApi/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
      ConnectionStrings__Database: Host=postgres-db;Database=ratelimit;Username=postgres;Password=password
      RateLimitingConfig__RedisKey: rate-limiting:options
      RateLimitingConfig__PollSeconds: "10"
    depends_on: [redis, postgres-db]

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports: ["6379:6379"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  etcd:
    image: gcr.io/etcd-development/etcd:v3.6.6
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ENABLE_V2=true
    ports: ["2379:2379", "2380:2380"]
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:2379/health"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  rules-daemon-service:
    build: ./RulesService/
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
      Etcd__BaseUrl: http://etcd:2379
      Etcd__PoliciesKey: /v2/keys/rl/policies.json
      Etcd__PollSeconds: "10"
      RulesSync__RedisKey: rate-limiting:options
      RulesSync__NotificationChannel: rate-limiting:options:updated
    depends_on: [redis, postgres-db, etcd]

  postgres-db:
    image: postgres:16
    environment:
      POSTGRES_DB: ratelimit
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports: ["5432:5432"]
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ratelimit"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  # zipkin:
  #   image: openzipkin/zipkin
  #   ports: ["9411:9411"]

  # prometheus:
  #   image: prom/prometheus
  #   ports: ["9090:9090"]
  #   volumes:
  #     - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml

  # grafana:
  #   image: grafana/grafana
  #   ports: ["3000:3000"]
  #   depends_on: [prometheus]
