services:
  load-balancer:
    image: nginx:1.27
    volumes:
      - ./LoadBalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    ports: ["8080:80"]
    networks: [rate-limiter-vnet]
    depends_on: [ratelimiting-service, redis, etcd]

  ratelimiting-service:
    build:
      context: ./RateLimiting
      dockerfile: RateLimitingApi/Dockerfile
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
      RateLimitingConfig__RedisKey: rate-limiting:options
      RateLimitingConfig__PollSeconds: "10"
    deploy:
      replicas: 3
    ports: ["8076-8079:80"]
    networks: [rate-limiter-vnet]
    depends_on: [redis]

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports: ["6379:6379"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks: [rate-limiter-vnet]

    # restart: unless-stopped

  etcd:
    image: gcr.io/etcd-development/etcd:v3.6.6
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ENABLE_V2=true
    ports: ["2379:2379", "2380:2380"]
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:2379/health"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks: [rate-limiter-vnet]

    # restart: unless-stopped

  rules-daemon-service:
    build: ./RulesService/
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
      Etcd__BaseUrl: http://etcd:2379
      Etcd__PoliciesKey: /v2/keys/rl/policies.json
      Etcd__PollSeconds: "10"
      RulesSync__RedisKey: rate-limiting:options
      RulesSync__NotificationChannel: rate-limiting:options:updated
    ports: ["8082:80"]
    networks: [rate-limiter-vnet]

    depends_on: [redis, etcd]

networks:
  rate-limiter-vnet:

  # zipkin:
  #   image: openzipkin/zipkin
  #   ports: ["9411:9411"]

  # prometheus:
  #   image: prom/prometheus
  #   ports: ["9090:9090"]
  #   volumes:
  #     - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml

  # grafana:
  #   image: grafana/grafana
  #   ports: ["3000:3000"]
  #   depends_on: [prometheus]
