services:
  lb:
    image: nginx:1.27
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports: ["8080:80"]
    depends_on: [api, redis, etcd]

  api:
    build: ./RateLimitingApi
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
    depends_on: [redis]

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports: ["6379:6379"]

  etcd:
    image: bitnami/etcd:latest
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ENABLE_V2=true
    ports: ["2379:2379", "2380:2380"]
