services:
  load-balancer:
    image: nginx:1.27
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports: ["8080:80"]
    depends_on: [ratelimiting-service, redis, etcd, postgres-db]

  ratelimiting-service:
    build: ./RateLimitingProject/RateLimitingApi/
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
      ConnectionStrings__Database: Host=postgres;Database=ratelimit;Username=postgres;Password=password
    depends_on: [redis, postgres-db]

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports: ["6379:6379"]

  etcd:
    image: bitnami/etcd:latest
    environment:
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ENABLE_V2=true
    ports: ["2379:2379", "2380:2380"]

  rules-daemon-service:
    build: ./RulesService/
    environment:
      ASPNETCORE_URLS: http://+:80
      ConnectionStrings__Redis: redis:6379
    depends_on: [redis, postgres-db, etcd]
  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_DB: ratelimit
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports: ["5432:5432"]
    volumes:
      - ./postgres/data:/var/lib/postgresql/data

  # zipkin:
  #   image: openzipkin/zipkin
  #   ports: ["9411:9411"]

  # prometheus:
  #   image: prom/prometheus
  #   ports: ["9090:9090"]
  #   volumes:
  #     - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml

  # grafana:
  #   image: grafana/grafana
  #   ports: ["3000:3000"]
  #   depends_on: [prometheus]
